.display {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  background: #fafafa;
  border-radius: 0.5rem;
  width: fit-content;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: flex-start;
}
